html,body{margin:0;padding: 0;background-color: #e7e7e7; color:#1c1c1c;font-family: Helvetica,Arial;font-size: 1em;padding-top: 10vh;}
nav{position: fixed;left:0;top:0;background-color: #ff4a34;text-align: center;width: 100vw;height: 10vh;}
nav ul {display: flex;flex-direction: row;flex: 1 0 auto;justify-content: space-around;align-items: center;list-style: none;width: 65%;margin: auto;height: 10vh;font-size: 1.2em;}
a,a:hover,a:visited,a:active,strong,em,mark{text-decoration: none;font-weight: inherit;font-variant: inherit;font-style: inherit;}
nav a {color:white;opacity: .5; transition: .5s all;} nav a:hover {opacity: 1;color:white;}
form{margin:auto;text-align: center;width: 80%;}
label{display: block;text-align: center;margin:auto;margin:1%;}
input,select,textarea{margin: auto;border:none;background-color: white;color:#1c1c1c;font-size: .9em;line-height: 2em;padding: 1%;min-width: 300px;}
.sub {color:white;border:none;margin:15px;cursor: pointer;transition: .5s all;font-size: 1.2em;margin-top: 5%;}.sub:hover{color:#1c1c1c;}
.sub:nth-child(1){background-color: #df9544;}
.sub:nth-child(2){background-color: #498f9e;}
